<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Info </title>
</head>
<body>
    <h3> Information </h3>

    <div>
        {% for message in messages %}
            {{message}}
            {% if message.tags == 'info' %}
            
                {{countdown}}
                
            {% endif %}
        {% endfor %}
    </div>

    Go to <a href="{{link}}"> {{link_name}} </a>

</body>
</html>